<!DOCTYPE html>
<html>
  <head>
  </head>
  <body class="product cart">

    <div id="cart_products_sorting">
      <div id="cart_products_sorting_time"> <button> 등록순 </button> </div>
      <div id="cart_products_sorting_price_expensive"> <button> 높은 가격순 </button> </div>
      <div id="cart_products_sorting_price_cheap"> <button> 낮은 가격순 </button> </div>
    </div>

    <button type="button" id="category_Delete" class="delete_Specified_Category <%= @current_category.id %>"><i class="material-icons">delete</i></button>

    <div id="cart_products_info">
      <% @product_in_category.each do |p| %>
        <div id="cart_product" class="cart_product">
          <div id="cart_products_info_img"> <%= link_to image_tag(p.img), p.url, :target => "_blank" %> </div>
          <div id="cart_products_category" class="cart_products_category <%= p.id %>"> <button> 카테고리에 담기 </button> </div>
          <div id="cart_products_info_name"> <%= p.name %> </div>
          <div id="cart_products_info_price"> <%= p.price %> </div>
          <div id="cart_products_info_time"> <%= p.created_at %> </div>
        </div>
      <% end %>
    </div>
  </body>
</html>

<!-- 카테고리 선택 모달 -->
<div id="select_category_Modal" class="modal">
  <div class="modal-content">
    <h4>카테고리 선택</h4>
    <% if category %>
      <div id="category_List">
        <% category.each do |c| %>
          <button class="select_Category <%= c.id %>" id="select_Category"> <%= c.name %></button> <br><br>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
